
/* * {
    display: flex; } */

.header {
        background-color: #030303e0;
    }
    

#logo {
    width: 8.1em;
    /* height: 2em; */
    position: left;
    padding: 4px;
    padding-left: 3px;
    box-shadow: 3 3 10px 10px #030303 inset;


}
/* #reddit {
    height: 30em; 
    width: 20em; 
    padding: 7px; 

} */
