:root {
    --rereddit-dark: #030303;
    --rereddit-dark-brighter: #1A1A1B;
    --rereddit-light-dark: #27272A;
    --rereddit-lighter-dark: #3d3d3d;
    --rereddit-light-grey: #BCC0C1;
    --rereddit-bright: #0EC6C5;

    --rereddit-text: #c2c7cad4;
    --rereddit-text-lighter: #e6e9eb;
    --rereddit-text-darker: #6f7071;
}

body {
    background-color: var(--rereddit-dark);
}

.rereddit-header {
    align-items: center;
    background-color: var(--rereddit-dark);
    padding-left: 1em;
    min-width: 100%;
}

.rereddit-search {
    margin: 6px;
    padding: 3px 6px;
    border-radius: 6px;
    border: solid 1px var(--rereddit-lighter-dark);
    background-color: var(--rereddit-dark-brighter);
}

.search-bar {
    background-color: var(--rereddit-dark-brighter);
    color: whitesmoke;
    margin: 4px;
    border: none;
    outline: none;
    font-size: smaller;
}

.rereddit-logo {
    height: 32px;
    width: 32px;
    box-shadow: 3 3 10px 10px #030303 inset;
}

.auth-buttons {
    border: solid var(--rereddit-light-grey);
    background-color: var(--rereddit-light-grey);
    color: var(--rereddit-dark-brighter);
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    font-size: smaller;
    font-weight: bold;
    cursor: pointer;
    height: auto;
    width: 100%;
    border-radius: 32px;

}

.user-dropdown {
    min-height:32px;
    margin: 6px;
    
}

.user-dropdown:hover {
    border-radius: 6px;
    border: 2px solid var(--rereddit-light-dark);
}

.user-dropdown button {
    border: none;
    padding:6px;
}

.default-avatar {
    height: 32px;
    width: 32px;
    border-radius: 100%;
}
.icon {
    color: var(--rereddit-text-lighter);
    width: 32px;
}

.icon-user {
    color: var(--rereddit-text-lighter);
    background-color: #030303;
    width: 32px;
}

.custom-btn {
    background-color: #030303 !important;
    border-color: #030303 !important;
    color: #030303 ;
  }

.drop-menu {
   position:absolute;
   right:0;
   border-radius: 0 0 6px 6px;;
   border: solid 1px var(--rereddit-lighter-dark);
   background-color: var(--rereddit-dark-brighter);
   color: var(--rereddit-text-lighter);
   overflow: hidden;
   z-index: 80; /* so that dropdown is always on top when expanded */
}

.drop-menu button {
    box-sizing: border-box;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    padding: 1rem 1rem 1rem 2rem;
    position: relative;
    color: var(--rereddit-text-lighter);
    background: transparent;
}

.drop-menu button:hover {
    background-color: var(--rereddit-light-grey);
    color: var(--rereddit-dark);
    fill: var(--rereddit-dark);
}

#logo {
    width: 32px;
    height: 32px;
    position: left;
    
}

.sub-header {
    background-color: var(--rereddit-dark-brighter);
}
.title-card {
    margin: -2rem 2rem 1rem 2rem;
}

.sub-icon {
    height: 96px;
    width: 96px;
    border-radius: 100%;
    border: 4px solid white;
    display: inline-block;
    background-color: var(--rereddit-bright);
}

.sub-title {
    padding-left: 1rem;
    margin-top: 2rem;
    color: var(--rereddit-light-grey);
    display: inline-block;
}
.sub-title h2{
    font-size: 32px;
}

.post-area {
    background-color: var(--rereddit-dark);
    padding: 1.5rem 1rem;
}

.create-post {
    border-radius: 6px;
    border: solid 1px var(--rereddit-lighter-dark);
    background-color: var(--rereddit-dark-brighter);
    color: var(--rereddit-light-grey);
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

.post-form {
    border-radius: 6px;
    border: solid 1px var(--rereddit-lighter-dark);
    background-color: var(--rereddit-light-dark);
    color: var(--rereddit-light-grey);
    padding: 0 1rem 0 1rem;
}

.post-container {
    border-radius: 6px;
    border: solid 1px var(--rereddit-lighter-dark);
    background-color: var(--rereddit-dark-brighter);
    padding: .5rem 1rem 0 1rem;
}

.post-author {
    font-size: 14px;
    color: var(--rereddit-text-darker);
    margin: 0 8px 8px 8px;
    font-weight: 300;
}

.post-title {
    display: inline;
    font-size: 18px;
    margin: 0 8px;
    color: var(--rereddit-text);
    
}

.post-content {
    word-wrap: break-word;
    font-size: 14px;
    margin: 8px 8px 0 8px;
    color: var(--rereddit-text-lighter);
}